@use "../common/variables.scss";

.field {
  padding: 12px 16px;
  font-family: variables.$font-primary;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: variables.$text-primary;
  border: none;
  background-color: #f3f5f4;
  border-radius: 4px;
}
