@use "../common/variables.scss";
@use "../common/mixins.scss";

.gallery {
  padding: 50px 0;
}

.gallery__entry {
  margin: 0;
  margin-bottom: 8px;
}

.gallery__headline {
  margin: 0;
  margin-bottom: 32px;
}

.gallery__list {
  @include mixins.list-reset;
  margin-bottom: 32px;
}

.gallery__item {
  width: 280px;
  height: 250px;
}

.gallery__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.gallery__button {
  max-width: 154px;
  margin: 0 auto;
}
