@use "../common/variables.scss";

.page {
  font-family: variables.$font-primary;
  font-size: calc(100vw / 390 * 10);

  @media (min-width: variables.$tablet) {
    font-size: calc(100vw / 768 * 10);
  }

  @media (min-width: variables.$desktop) {
    font-size: calc(100vw / 1920 * 10);
  }
}

.page__body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #ffffff;

  &--no-scroll {
    overflow: hidden;
  }
}

.page__header {
  position: absolute;
  width: 100%;
}
