@use "../common/variables.scss";
@use "../common/mixins.scss";

.proposal {
  padding: 50px 0;
  background-color: #f3f5f4;
}

.proposal__entry {
  margin-bottom: 8px;
}

.proposal__headline {
  margin-bottom: 32px;
}

.proposal__intro {
  margin-bottom: 32px;
}

.proposal__list {
  @include mixins.list-reset;
  display: grid;
  gap: 32px;
  margin-bottom: 32px;
}

.proposal__item {
  display: grid;
  grid-template-columns: 50px auto;
  gap: 16px;

  &::before {
    grid-row: span 2;
    content: "";
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--guide::before {
    background-image: url("../img/sprite.svg#guide");
  }

  &--safety::before {
    background-image: url("../img/sprite.svg#safety");
  }

  &--loyal::before {
    background-image: url("../img/sprite.svg#loyal");
  }
}

.proposal__capture {
  grid-column: 2 / -1;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: variables.$text-primary;
}

.proposal__description {
  grid-column: 2 / -1;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.proposal__button {
  max-width: 212px;
  margin: 0 auto;
}

.proposal__gallery {
  @media (max-width: variables.$mobile) {
    display: none;
  }
}

.proposal__image {
  &:nth-child(1),
  &:nth-child(4) {
    border-radius: 0 50px;
  }

  &:nth-child(2),
  &:nth-child(3) {
    border-radius: 50px 0;
  }
}
