@use "../common/mixins.scss";
@use "../common/variables.scss";

.site-list {
  @include mixins.list-reset;
  display: grid;
  gap: 16px;
}

.site-list__link {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: variables.$color-secondary;

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 18px;
    mask: url("../img/sprite.svg#arrow") no-repeat center;
    mask-size: 6px 10px;
    background-color: variables.$color-secondary;
  }

  &:hover {
    color: variables.$color-accent;
    text-decoration: underline;
  }

  &:hover::before {
    background-color: variables.$color-accent;
  }
}
