@use "../common/variables.scss";

.slider {
  max-width: 100%;
  overflow: hidden;
}

.slider__wrapper {
  display: flex;

  @media (max-width: variables.$mobile) {
    overflow: scroll;
  }

  @media (min-width: variables.$desktop) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.slider__item {
  flex-shrink: 0;
}
