@use "../common/variables.scss";

.video {
  position: relative;
}

.video__link {
  display: block;

  &:hover + .video__button {
    transform: scale(150%) translate(-35%, -35%);
    transition: transform 0.5s;
  }
}

.video__image {
  border-radius: 24px;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  background-color: rgba(253, 253, 253, 0.6);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.5s;

  &::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    mask: url("../img/sprite.svg#play") no-repeat center;
    background-color: variables.$color-primary;
  }

  &:hover {
    transform: scale(150%) translate(-35%, -35%);
    transition: transform 0.5s;
  }
}
