//Fonts
$font-primary: "Nunito", "Arial", sans-serif;
$font-secondary: "Next-Art", "Arial", sans-serif;
//Viewports-width
$mobile: 767px;
$tablet: 768px;
$desktop: 1280px;
//Colors
$color-primary: #1a3e3e;
$color-secondary: #fdfdfd;
$color-accent: #f2be22;
//Text-colors
$text-primary: #18121e;
$text-secondary: #000000;
